@model IEnumerable<Product>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>
        <table id="dataTable" class="table table-bordered table-striped" style="width=100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>List Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        var dataTable;

        $(document).ready(function () {
            dataTable = $('#dataTable').DataTable({
                "ajax": { url: '/admin/product/GetData' },
                "columns": [
                    { data: 'title', "width": "20%" },
                    { data: 'isbn', "width": "15%" },
                    { data: 'author', "width": "13%" },
                    { data: 'listPrice', "width": "12%" },
                    { data: 'category.name', "width": "15%" },
                    {
                        data: 'id',
                        "render": function (data) {
                            return `<div class="w-75 btn-group" role="group">
                                      <a href="/admin/product/upsert?id=${data}"  class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                                      <a href="javascript:;" onclick="CallBootBox(${data})" class="btn btn-danger js-delete" data-id="${data}"><i class="bi bi-trash-fill"></i>Delete</a>
                                    </div>`
                        },
                        "width": "25%"
                    }
                ]
            });          
        });
    
        function CallBootBox(data) {
            var btn = $(this);

            var result = bootbox.confirm({
                message: 'Are you sure that you want to delete this Product ?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-outline-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/admin/product/delete/' + data,
                            success: function () {
                                // var categoryRow = btn.parents('.col-12');
                                // categoryRow.addClass('animate__animated animate__zoomOut');
                                setTimeout(function () {
                                    dataTable.ajax.reload();
                                 }, 1000);
                                toastr.success('Product deleted!');
                            },
                            error: function () {
                                toastr.error('Something went wrong!');
                            }
                        })
                    }
                }
            });
        }
    </script>    
}